[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["cd ../.. && pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["cd packages/client-web && pnpm build"]

[start]
cmd = "cd packages/client-web && npx --yes serve dist -p $PORT"
