[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["cd ../.. && pnpm install"]

[phases.build]
cmds = ["cd ../.. && pnpm build --omit=dev"]

[start]
cmd = "cd packages/client-web && npx --yes serve dist -p $PORT"
